.mmm-pthub-wrapper[data-line-preset="duesseldorf"] {
  .mmm-pthub-line-str701 {
    background-color: #f58221;
  }

  .mmm-pthub-line-str704 {
    background-color: #bf1e23;
  }

  .mmm-pthub-line-str705 {
    background-color: #bd1b8e;
  }

  .mmm-pthub-line-str706 {
    background-color: #ee1c25;
  }

  .mmm-pthub-line-str707 {
    background-color: #781d7d;
  }

  .mmm-pthub-line-str708 {
    background-color: #f698b2;
  }

  .mmm-pthub-line-str709 {
    background-color: #ee4c9c;
  }

  .mmm-pthub-line-busm1,
  .mmm-pthub-line-busm2,
  .mmm-pthub-line-busm3 {
    background-color: #1db056;
  }

  .mmm-pthub-line-bus721 {
    background-color: #af963c;
  }

  .mmm-pthub-line-bus722 {
    background-color: #006e96;
  }

  .mmm-pthub-line-bus723 {
    background-color: #cd6656;
  }

  .mmm-pthub-line-bus724 {
    background-color: #659e39;
  }

  .mmm-pthub-line-bus725 {
    background-color: #005c4d;
  }

  .mmm-pthub-line-bus726 {
    background-color: #f4a000;
  }

  .mmm-pthub-line-bus727 {
    background-color: #b3559b;
  }

  .mmm-pthub-line-bus728 {
    background-color: #8a6b9a;
  }

  .mmm-pthub-line-bus729 {
    background-color: #ce7e00;
  }

  .mmm-pthub-line-bus730 {
    background-color: #4a215c;
  }

  .mmm-pthub-line-bus731 {
    background-color: #00a8c1;
  }

  .mmm-pthub-line-bus732 {
    background-color: #9d3f76;
  }

  .mmm-pthub-line-bus733 {
    background-color: #b87745;
  }

  .mmm-pthub-line-bus734 {
    background-color: #e40050;
  }

  .mmm-pthub-line-bus735 {
    background-color: #d18d2b;
  }

  .mmm-pthub-line-bus736 {
    background-color: #334e9d;
  }

  .mmm-pthub-line-bus737 {
    background-color: #00ae9e;
  }

  .mmm-pthub-line-bus738 {
    background-color: #00a29c;
  }

  .mmm-pthub-line-bus749 {
    background-color: #b87745;
  }

  .mmm-pthub-line-bus751 {
    background-color: #f7a600;
  }

  .mmm-pthub-line-bus752 {
    background-color: #7d9dd2;
  }

  .mmm-pthub-line-bus754 {
    background-color: #d38f0d;
  }

  .mmm-pthub-line-bus756 {
    background-color: #e94280;
  }

  .mmm-pthub-line-bus757 {
    background-color: #8b4c87;
  }

  .mmm-pthub-line-bus758 {
    background-color: #009f83;
  }

  .mmm-pthub-line-bus759 {
    background-color: #9ac063;
  }

  .mmm-pthub-line-bus760 {
    background-color: #cc5098;
  }

  .mmm-pthub-line-bus776 {
    background-color: #9c5b15;
  }

  .mmm-pthub-line-bus778 {
    background-color: #006331;
  }

  .mmm-pthub-line-bus779 {
    background-color: #006e96;
  }

  .mmm-pthub-line-bus780 {
    background-color: #31b404;
  }

  .mmm-pthub-line-bus781 {
    background-color: #ea5b0c;
  }

  .mmm-pthub-line-bus782 {
    background-color: #0071ad;
  }

  .mmm-pthub-line-bus783 {
    background-color: #8880b8;
  }

  .mmm-pthub-line-bus784 {
    background-color: #009f83;
  }

  .mmm-pthub-line-bus785 {
    background-color: #9a7200;
  }

  .mmm-pthub-line-bus788 {
    background-color: #adb916;
  }

  .mmm-pthub-line-bus789 {
    background-color: #1ab9de;
  }

  .mmm-pthub-line-bus827 {
    background-color: #f4a100;
  }

  .mmm-pthub-line-bus828 {
    background-color: #ed6c32;
  }

  .mmm-pthub-line-bus829 {
    background-color: #817094;
  }

  .mmm-pthub-line-bus830 {
    background-color: #64454b;
  }

  .mmm-pthub-line-bus833 {
    background-color: #006e96;
  }

  .mmm-pthub-line-bus834 {
    background-color: #d97c12;
  }

  .mmm-pthub-line-bus835 {
    background-color: #f0f;
  }

  .mmm-pthub-line-bus836 {
    background-color: #ce75ad;
  }

  .mmm-pthub-line-bus841 {
    background-color: #bdbdbd;
  }

  .mmm-pthub-line-bus862 {
    background-color: #c28100;
  }

  .mmm-pthub-line-bus863 {
    background-color: #79589b;
  }

  .mmm-pthub-line-bus864 {
    background-color: #5b8d32;
  }

  .mmm-pthub-line-bus891 {
    background-color: #c5b230;
  }

  .mmm-pthub-line-bus894 {
    background-color: #00a1d2;
  }

  .mmm-pthub-line-bus896 {
    background-color: #c0476a;
  }

  .mmm-pthub-line-bussb50,
  .mmm-pthub-line-bussb51,
  .mmm-pthub-line-bussb52,
  .mmm-pthub-line-bussb53,
  .mmm-pthub-line-bussb55,
  .mmm-pthub-line-bussb57,
  .mmm-pthub-line-bussb59,
  .mmm-pthub-line-bussb85 {
    background-color: #00929e;
  }

  .mmm-pthub-line-busne1 {
    background-color: #f9ba31;
    color: black;
  }

  .mmm-pthub-line-busne2 {
    background-color: #fb7cba;
  }

  .mmm-pthub-line-busne3 {
    background-color: #94cb45;
  }

  .mmm-pthub-line-busne4 {
    background-color: #ff2e17;
  }

  .mmm-pthub-line-busne5 {
    background-color: #8b369b;
  }

  .mmm-pthub-line-busne6 {
    background-color: #ff7322;
  }

  .mmm-pthub-line-busne7 {
    background-color: #059748;
  }

  .mmm-pthub-line-busne8 {
    background-color: #bbb193;
    color: black;
  }

  .mmm-pthub-line-rrbre10,
  .mmm-pthub-line-viare19 {
    background-color: rgb(31 131 50);
    border: 0.5px white solid;
  }

  .mmm-pthub-line-re1,
  .mmm-pthub-line-re5 {
    background-color: #ff8c00;
    color: black;
  }

  .mmm-pthub-line-u70 {
    background-color: #5badce;
  }

  .mmm-pthub-line-u71 {
    background-color: #41c8f4;
  }

  .mmm-pthub-line-u72 {
    background-color: #21bec6;
  }

  .mmm-pthub-line-u73 {
    background-color: #416ab3;
  }

  .mmm-pthub-line-u74 {
    background-color: #282680;
  }

  .mmm-pthub-line-u75 {
    background-color: #0099c7;
  }

  .mmm-pthub-line-u76 {
    background-color: #006cb7;
  }

  .mmm-pthub-line-u77 {
    background-color: #6a93cc;
  }

  .mmm-pthub-line-u78 {
    background-color: #00a6e9;
  }

  .mmm-pthub-line-u79 {
    background-color: #00a99d;
  }

  .mmm-pthub-line-u83 {
    background-color: #16479f;
  }
}
