.mmm-pthub-wrapper[data-line-preset="nuernberg"] {
  .mmm-pthub-line-s1 {
    background-color: #92292e;
  }

  .mmm-pthub-line-s2 {
    background-color: #4cbd38;
  }

  .mmm-pthub-line-s3 {
    background-color: #f1471c;
  }

  .mmm-pthub-line-s4 {
    background-color: #2d3884;
  }

  .mmm-pthub-line-s5 {
    background-color: #0c7bc1;
  }

  .mmm-pthub-line-s6 {
    background-color: #95af33;
  }

  .mmm-pthub-line-u1 {
    background-color: #005c9f;
  }

  .mmm-pthub-line-u2 {
    background-color: #e3000f;
  }

  .mmm-pthub-line-u3 {
    background-color: #2fb7bc;
  }

  .mmm-pthub-line-str4 {
    background-color: #f08490;
  }

  .mmm-pthub-line-str5 {
    background-color: #954a97;
  }

  .mmm-pthub-line-str6 {
    background-color: #ffd400;
    color: #000;
  }

  .mmm-pthub-line-str7 {
    background-color: #a5add8;
    color: #000;
  }

  .mmm-pthub-line-str8 {
    background-color: #00b0eb;
  }

  .mmm-pthub-product-bus {
    background-color: #e3000f;
  }

  .mmm-pthub-line-busn1 {
    background-color: #f59c00;
  }

  .mmm-pthub-line-busn2 {
    background-color: #0062a4;
  }

  .mmm-pthub-line-busn3 {
    background-color: #e5007d;
  }

  .mmm-pthub-line-busn4 {
    background-color: #89b4db;
  }

  .mmm-pthub-line-busn5 {
    background-color: #fc0;
    color: black;
  }

  .mmm-pthub-line-busn6 {
    background-color: #e3000f;
  }

  .mmm-pthub-line-busn7 {
    background-color: #7f465a;
  }

  .mmm-pthub-line-busn8 {
    background-color: #7d72a3;
  }

  .mmm-pthub-line-busn9 {
    background-color: #c7d300;
    color: black;
  }

  .mmm-pthub-line-busn10 {
    background-color: #09a;
  }

  .mmm-pthub-line-busn11 {
    background-color: #95348b;
  }

  .mmm-pthub-line-busn12 {
    background-color: #00a75d;
  }

  .mmm-pthub-line-busn13 {
    background-color: #e94c0a;
  }

  .mmm-pthub-line-busn14 {
    background-color: #455924;
  }

  .mmm-pthub-line-busn15 {
    background-color: #d46aa6;
  }

  .mmm-pthub-line-busn17 {
    background-color: #ed694a;
  }

  .mmm-pthub-line-busn18 {
    background-color: #008acb;
  }

  .mmm-pthub-line-busn20 {
    background-color: #76b828;
  }

  .mmm-pthub-line-busn21 {
    background-color: #e5007d;
  }

  .mmm-pthub-line-busn22 {
    background-color: #74115e;
  }

  .mmm-pthub-line-busn23 {
    background-color: #c71252;
  }

  .mmm-pthub-line-busn24 {
    background-color: #c94b18;
  }

  .mmm-pthub-line-busn27 {
    background-color: #a8005c;
  }

  .mmm-pthub-line-busn28 {
    background-color: #2d2476;
  }

  .mmm-pthub-line-busn29 {
    background-color: #c99922;
  }

  .mmm-pthub-line-busn55 {
    background-color: #005493;
  }

  .mmm-pthub-line-busn59 {
    background-color: #9c9661;
  }

  .mmm-pthub-line-busn60 {
    background-color: #007d53;
  }

  .mmm-pthub-line-busn61 {
    background-color: #a49dc5;
  }
}
